<%if flash[:errors]%>
<% flash[:errors].each do |error|%>
<p style="color: red"><%= error%> </p>

    <%end%>
    <%end%>

<% thanks = "Thanks LEIZL  "%>

<marquee> <%= thanks * 100%></marquee>


<%=form_for(@jewelrybox) do |f| %>
    <%= f.collection_select(:miner_id, Miner.all, :id, :name)%>
    <%= f.collection_select(:jewel_id, Jewel.all, :id, :name)%>
    <%= f.submit %>
<% end %>